body {
    margin: 0;
    font-size: 15px;
    color: #333333;
    line-height: 1.6;
    background-size: cover;
    background-position: center;


}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

hr {
    margin: 0;
    border: none;
    border-top: 2px solid #ffffff;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
.header {
    width: 100%;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: floralwhite;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;

}

.header__logo span {
    color: #00CED1;
}


.nav {
    font-size: 18px;
    text-transform: uppercase;

}

.nav__container {
    border: 2px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 7px 10px;
    background: #1a7c87;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    color: floralwhite;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
    position: relative;
    text-decoration: none;
    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}

.nav__link:hover {
    text-shadow: #000000;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

/* Section */
.section {
    padding: 110px 0;


}



.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    text-align: center;
    background: rgb(203, 162, 203);
    border: 2px solid #fff;
    border-radius: 20px;
    overflow: hidden;
    padding: 0 10px;


}


.section__title {
    margin-bottom: 10px;
    color: white;
    font-size: 50px;
    text-shadow: 3px 3px 5px rgba(229, 93, 222, 0.8);
}


/* product */
.product {
    display: flex;
    flex-wrap: wrap;

}

.product__col {
    flex: 1 1 0;
}

.product__item {
    position: relative;
    margin: 10px;
    border-radius: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom, #CBA2CB, #F0BB36);
    width: 30%;
}

.product__info {
    width: 100%;
    padding: 0 15px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translate3d(0, -50%, 0);
    opacity: 0;
    transition: opacity .2s linear;
}

.product__item:hover .product__image {
    opacity: .1;
}
.product__item:hover .product__info {
    opacity: 1;
}

.product__item:hover .product__title2 {
    display: none;
}

.product__image {

    display: block;
    width: 100%;
    height: auto;
    border-radius: 100%;
    transition: opacity .2s linear;
    margin: 10px;

}

.product__title2 {
    margin-bottom: 5px;
    color: #d1d100;
    text-shadow: 3px 3px 5px rgba(229, 93, 222, 0.8);

    color: white;
    font-size: 17px;
    text-shadow: 3px 3px 5px rgba(229, 93, 222, 0.8);
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    z-index: 100 !important;
    top: 40%;
    left: 50%;
    padding: 5px 10px;
    background-color: #CBA2CB;
    border-radius: 5px;
}

.product__title {
    margin-bottom: 5px;
    color: #d1d100;
    text-shadow: 3px 3px 5px rgba(229, 93, 222, 0.8);
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;

}