/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap');

@keyframes changeBackground {
    0% {
        background-image: url(../images/banner/1.jpeg);
    }

    25% {
        background-image: url(../images/banner/2.jpeg);
    }

    50% {
        background-image: url(../images/banner/3.jpeg);
    }

    75% {
        background-image: url(../images/banner/4.jpeg);
    }

    100% {
        background-image: url(../images/banner/5.jpg);
    }

}


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #000000;
    line-height: 1.6;
    background-size: cover;
    background-position: center;
    animation: changeBackground 20s infinite;

}

/* The asterisk (*) in CSS is a wildcard selector that targets all elements on the webpage.*/
*,
*:before,
*:after {
    box-sizing: border-box;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;

}

hr {
    margin: 0;
    border: none;
    border-top: 2px solid #ffffff;

}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

}

.container__product {
    border: 2px solid #fff;
    background: rgb(203, 162, 203);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    border-radius: 10%;

}

/* Header */
.header {
    width: 100%;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: floralwhite;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;

}

.header__logo span {
    color: #00CED1;
}



.nav {
    font-size: 18px;
    text-transform: uppercase;

}

.nav__container {
    border: 2px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 7px 10px;
    background: #1a7c87;

}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    color: floralwhite;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
    position: relative;
    text-decoration: none;
    transition: color .1s linear;

}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;

}

.nav__link:hover {
    /*  color: rgb(65, 104, 109); */
    text-shadow: #000000;

}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;

}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    background: #ff578b;
    color: white;
    border: 2px solid #3498db;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    border-radius: 20px;
    text-decoration: none;

}

.btn:hover {
    background-color: #2ecc71;
    color: rgba(255, 255, 255, 0.8);
    border: 3px solid rgba(70, 170, 200, 0.8);
    text-shadow: none;
}

/* Section */
.section {
    padding: 110px 0;

}



.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    text-align: center;
    background: rgb(203, 162, 203);
    border: 2px solid #fff;
    border-radius: 20px;
    overflow: hidden;
    padding: 0 10px;

}


.section__title {
    margin-bottom: 10px;
    color: white;
    font-family: 'Kaushan Script',
        cursive;
    font-size: 50px;
    text-shadow: 3px 3px 5px rgba(229, 93, 222, 0.8);

}


/* product */
.product {
    display: flex;
    flex-wrap: wrap;

}

.product__col {
    flex: 1 1 0;

}

.product__item {
    position: relative;
    margin: 10px;
    border-radius: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom, #CBA2CB, #F0BB36);
    width: 30%;

}

.product__info {
    width: 100%;
    padding: 0 15px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translate3d(0, -50%, 0);
    opacity: 0;
    transition: opacity .2s linear;

}

.product__item:hover .product__image {
    opacity: .1;

}



.product__item:hover .product__info {
    opacity: 1;

}

.product__item:hover .product__title2 {
    display: none;

}

.product__image {

    display: block;
    width: 100%;
    height: auto;
    border-radius: 100%;
    transition: opacity .2s linear;
    margin: 10px;

}

.product__title2 {
    margin-bottom: 5px;
    color: #d1d100;
    text-shadow: 3px 3px 5px rgba(229, 93, 222, 0.8);
    color: white;
    font-family:
        /*'Montserrat', sans-serif; */
        'Kaushan Script';
    font-size: 17px;
    text-shadow: 3px 3px 5px rgba(229, 93, 222, 0.8);
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    z-index: 100;
    top: 40%;
    left: 50%;
    padding: 5px 10px;
    background-color: #CBA2CB;
    border-radius: 5px;

}

.product__title {
    margin-bottom: 5px;
    color: #d1d100;
    text-shadow: 3px 3px 5px rgba(229, 93, 222, 0.8);
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;

}


/* Footer
===================*/

.footer {
    width: 100%;
    height: auto;
    background: #4e5890;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;

}

.footer a {
    color: #27aab6;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 20px;

}

.footer nav a:hover {
    border-bottom: 1px solid #3d3f3f;

}

.social img {
    margin-left: 10px;
    margin-bottom: 10px;

}

.social img:hover {
    background: #3d3f3f;
    border-radius: 20%;

}


/* !!!!!!!!!!!!!!!!!!!!! */
.burger__menu {
    cursor: pointer;
    display: none;
    padding: 15px;
    background-color: #1a7c87;
    color: #fff;

}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;

}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #1a7c87;
    margin-top: 25px;

}

.menu li {
    margin-right: 20px;

}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    display: block;
    padding: 15px;

}

.menu a:hover {
    background-color: transparent;

}

.menu__toggle {
    display: none;
}

.wrapper__mob__menu {
    display: none;

}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!TABLET */
@media (min-width: 769px) and (max-width:1230px) {

    /* PRODUCTS */
    .product__item {
        width: 45%;

    }

    .product__title2 {
        margin-bottom: 5px;
        color: #d1d100;
        text-shadow: 3px 3px 5px rgba(229, 93, 222, 0.8);
        font-size: 22px;
        text-transform: uppercase;
        font-weight: bold;
        position: absolute;
        z-index: 100;
        top: 40%;
        left: 50%;
        padding: 5px 10px;
        background-color: #CBA2CB;
        border-radius: 5px;

    }

}






/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!MOBILE */
@media (min-width: 0px) and (max-width:768px) {

    /* HEADER */
    .nav {
        display: none;

    }

    .burger__menu {
        display: block;

    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;

    }

    .menu__toggle:checked+.burger__menu+.menu {
        display: flex;

    }

    .menu li {
        margin-right: 0;
        text-align: center;

    }

    .wrapper__mob__menu {
        display: block;

    }

    /* TITLE */
    .section__title {
        font-size: 40px;

    }


    /* PRODUCTS */
    .product__item {
        width: 100%;

    }
}